@import "tailwindcss";

/* Variáveis principais (modo claro) */
:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Tipografia padrão */
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: monospace;
}

/* Suporte a tema escuro com media query */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Estilo global */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
